@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Playfair+Display:ital,wght@0,400;0,700;0,900;1,400&family=Noto+Sans+Arabic:wght@300;400;600&display=swap');
@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@theme {
  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", "Noto Sans Arabic", sans-serif;
  
  --color-accent: #FBB040;
  --color-bg: #121212;
  --color-card: #2A2A2A;
  --color-border: #383838;
  --color-dim: #A0A0A0;
}

@layer base {
  body {
    @apply bg-bg text-[#F2F2F2] font-sans antialiased;
  }
}

/* Custom scrollbar for that elegant feel */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #0A0A0A;
}
::-webkit-scrollbar-thumb {
  background: #2A2A2A;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #C5A059;
}

